In [1]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv("AfrikaansPOSData/train.csv")
test = pd.read_csv("AfrikaansPOSData/test.csv")

In [8]:
train.head(5)

       Token  POS
0        Die   LB
1       doel  NSE
2        van  SVS
3        die   LB
4  webtuiste  NSE

In [9]:
test.head(5)

          Token    POS
0          Laai  VTHOG
1           die     LB
2  elektroniese    ASA
3   aansoekvorm    NSE
4            af    UPW